<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.onbond.calendar"
      version="0.1.0">
    <name>Task</name>
    <description>Sample PhoneGap Calendar Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>


    <js-module src="www/task.js" name="Task">
        <clobbers target="window.task" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Task">
                <param name="android-package" value="com.onbond.task.Task"/>
            </feature>
        </config-file>

        <source-file src="src/android/Task.java" target-dir="src/com/onbond/task" />      
     </platform>          
</plugin>
